

 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3></h3>
              </div>

<!--               <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Password Reset </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>

                    <div class="clearfix"></div>

                  </div>

                                 {% if messages %}
                <div class="row tile_count">
                      {% for message in messages %}

                  <div id='success-alert1' class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong class="{{ message.tags }}">{{ message }}</strong>                 </div>
                  {% endfor %}
                </div>
              {% endif %}

            <!-- End Display Message -->

                  <div class="x_content">

                    <form method="POST" class="form-horizontal form-label-left" novalidate>
                      {% csrf_token %}
<!-- 
                        <div class="item form-group">

                        <div class="col-md-6 col-sm-6 col-xs-12">

                          {{ form.as_p }}
               

                        </div>
                      </div> -->


                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"> <span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                          {{ form.old_password }}
                         
                        </div>
                         <p style="color: red !important;">{{ form.old_password.errors }}</p>

                      </div>



                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email"><span class="required"></span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.new_password1 }}

                      </div>
                          {{ form.new_password1.errors }}
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                        </label>


                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.new_password2 }}
                        </div>
                          {{ form.new_password2.errors }} 
                      </div>




                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <!-- <button  class="btn btn-primary">Cancel</button> -->
                          <button id="send" type="submit" style="align-items: center;" class="btn btn-success">Change Password</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                      

<!-- 

<script type="text/javascript">

$(document).ready(function() {
    //autofoucus
    $('#id_name').focus();
  var d = new Date();
    var year = d.getFullYear() - 14;
    d.setFullYear(year);
    $( "#id_dob" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'YY-MM-DD',
      yearRange: '-85:' + year + '', defaultDate: d
      });
    $( "#id_joining_date" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'YY-MM-DD',
      maxDate: 0,
      });   -->


  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>