{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{% static '/css/nprogress.css' %}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{% static '/css/custom.min.css' %}" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">


            <!-- Display Message -->
                {% if messages %}
                <div class="row tile_count">
                      {% for message in messages %}

                  <div id='success-alert1' class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong class="{{ message.tags }}">{{ message }}</strong>                 </div>
                  {% endfor %}
                </div>
              {% endif %}


            <!-- End Display Message -->


          <section class="animate swing  login_content">

            <form method="POST">{% csrf_token %}
              <h1>Login Form</h1>
              {{ form.as_p }}
<!--               <div>
                {{ form.username }}<h1>hello</h1>
                </div>
                {{ form.username.errors }}
              <div>
                {{ form.password }}
                {{ form.password.errors }}               

              </div> -->
              <div>
               <button id="send" type="submit" class="btn btn-success">Log in</button>
                <a class="reset_pass" href="{% url 'password_reset' %}">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="{% url 'signup' %}" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Easy tailor</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
            <script src="{% static '/js/jquery.min.js' %}"></script>

<script type="text/javascript">
  
  $("#success-alert1").fadeTo(2000, 500).slideUp(500, function(){
    $("#success-alert1").slideUp(500);
});
</script>
      </div>
    </div>
  </body>
</html>
