<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
Hi <strong>{{ user.FullName }},</strong>

Please click on the link below to confirm your registration:



<p>Your User Id : <strong> {{ user }}</strong></p>
<br><br>
{{ password }}
<p><a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
"> Click Here For activate your Account</a></p>
</body>
</html>
