  {% load staticfiles %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <!-- Meta, title, CSS, favicons, etc. -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Gentelella Alela!| </title>

      <!-- Bootstrap -->
      <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
      <!-- NProgress -->
      <link href="{% static '/css/nprogress.css' %}" rel="stylesheet">
      <!-- Animate.css -->
      <link href="{% static '/css/animate.min.css' %}" rel="stylesheet">

      <!-- Custom Theme Style -->
      <link href="{% static '/css/custom.min.css' %}" rel="stylesheet">
    </head>

    <body class="login">



              <!-- Display Message -->
                  {% if messages %}
                  <div class="row tile_count">
                        {% for message in messages %}

                    <div id='success-alert1' class="alert alert-success alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                      </button>
                      <strong class="{{ message.tags }}">{{ message }}</strong>                 </div>
                    {% endfor %}
                  </div>
                {% endif %}


              <!-- End Display Message -->
      <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
          <div class="animate swing form login_form">
            <section class="login_content">
              <form method="POST">{% csrf_token %}
                <h1>Signup Form</h1>
                <div>
                  {{ form.FullName }}
                  {{ form.FullName.errors }}
                </div>


                <div>
                  {{ form.email }}
                  {{ form.email.errors }}
                </div>
                


                  <div>
                    <select  class="js-example-basic-single form-control" {{ form.Country }}</select>
                           
                            {{ form.Country.errors }}
                          </div>
                <div>
                <div><br>
                  {{ form.CompanyName }}
                  {{ form.CompanyName.errors }}               </div>
                <div>

                                <div>
                  {{ form.password1 }}
                  {{ form.password1.errors }}               </div>
                <div>


                                <div>
                  {{ form.password2 }}
                  {{ form.password2.errors }}               </div>
                <div>


                 <button id="send" type="submit" class="btn btn-success">SignUp</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                  <p class="change_link">Already a member ? 
                    <a href="{% url 'login' %}" class="to_register">Log in </a>
                  </p>

                  <div class="clearfix"></div>
                  <br />

                  <div>
                    <h1><i class="fa fa-paw"></i> Easy Tailor</h1>
                    <p>©2018 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                  </div>
                </div>
              </form>
            </section>
          </div>

        </div>
      </div>
    </body>
  </html>

  <script src="{% static '/js/jquery.min.js' %}"></script>

<link href="{% static '/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static '/js/select2.min.js' %}"></script>

  <script type="text/javascript">
 
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function() {
      $('.js-example-basic-single').select2();
       // placeholder: 'Select an option'
  });


  </script>
